<h1 class="title is-1">All sites</h1>
<div class="columns is-multiline">
  <% sites.forEach(site => { %>
    <div class="column is-3">
      <a href="/sites/<%= site._id%>">
        <img src='<%= site.picture %>' alt='Picture of <%= site.name %>' />
        <h2 class="title is-2"><%= site.name %></h2>
        <h3 class="subtitle is-2"><%= site.location %></h3>
      </a>
    </div>
    <% }) %>
  </div>
