<div class="columns is-full">
  <div class="column is-half is-left">
    <img class="image is-256x256"src=<%= site.picture %> alt=<%= site.name %>/>
  </div>
  <div class="column is-half is-right has-background-grey">
    <h2 class="title is-3"><%= site.name %></h2>
    <h2 class="subtitle is-4"><%= site.location %>
    <p class=" subtitle is-6"><%=site.difficultyLevel%></p></h2>
    <p><%= site.description %></p>
  </div>
</div>
<% if(locals.isLoggedIn) { %>
<div class="container">
  <div class="level is-mobile">
    <div class="level-left ">
      <a class="button is-info" href="/sites/<%= site.id %>/edit">Edit</a>
    </div>

    <div class="level-right">
      <form action="/sites/<%= site.id %>" method="POST">
      <button class="button is-danger">Delete</button>
        <input type="hidden" name="_method" value="DELETE">
      </form>
    </div>
  </div>
</div>
<% } %>
<div class="">
  <%- include('../reviews/new', { site })%>
</div>
<div class="">
  <%- include('../reviews/index', { site })%>
</div>
